{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock %}

{% block header_nav %}
    {% include 'header_nav.html' %}
{% endblock header_nav %}
{% block main-content %}
     <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
        {% include 'messages.html' %}
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__content">
                        <div class="contact__form">
                            <h5>Wellcome dear <strong>"{{ user.username }}"</strong> to your Profile!</h5>
                            <form action="" method="post">
                                {% csrf_token %}
                                {% if error %}
                                    <div class="alert alert-warning" role="alert">
                                        {{ message }}
                                    </div>
                                {%endif%}
                                <div>
                                    <label for="first_name">First Name: </label>
                                    {{ form.first_name }}
                                </div>

                                <label for="last_name">Last Name: </label>
                                {{ form.last_name }}
                                <label for="email">Email: </label>
                                {{ form.email }}
                                <div class="add-product">
                                    <a class="new-index no" href="{{ request.META.HTTP_REFERER }}">Back</a>
                                    <button type="submit" class="site-btn-add-product">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
{% endblock main-content %}
